.list-group-item {
  line-height: 2.5;
}




  .top{
    font-family: 'Miltonian Tattoo', serif;
    text-shadow: 4px 4px 4px #aaa; 
    font-size: 48px;
  }

  body {
    font-family: 'Miltonian Tattoo', serif;
    font-size: 48px;
    
  }

  .tatImg{
    height:160px;
    width:160px;
  }